{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
{% block content %}
<section class="wrapper bg-img">
  <div class="landing-text">
    <h1>Fit For Life</h1>
    <h3> Fitter, healthier, happier.</h3>
    <a href="{% url 'about' %}" class="btn btn-default btn-lg">Find Out More</a>
  </div>
</section>
<section class="text-center about">
  <h1>What we sell</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200" >
        <span class="fas fa-dumbbell mb-1"></span>
        <h2 class="mb-1">Protein</h2>
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
      </div>
      <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
        <span class="fas fa-capsules mb-1"></span>
        <h2 class="mb-1">Supplements</h2>
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
      </div>
      <div class="clearfix visible-md-block visible-sm-block"></div>
      <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
        <span class="fa fa-file mb-1"></span>
        <h2 class="mb-1">Plans</h2>
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}