{% extends "base.html" %}
{% load static %}
{% block page_header %}
 <!--NavBar-->
<div class="container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
{% block content %}
<!-- Landing Image Section with Button -->
<section class="wrapper bg-img">
  <div class="landing-text">
    <h1>Fit For Life</h1>
    <h3> Fitter, healthier, happier.</h3>
    <a href="{% url 'about' %}" class="btn btn-default btn-lg">Find Out More</a>
  </div>
</section>
 <!-- What We Sell Section -->
<section class="text-center about">
  <h1>What we sell</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200" >
        <span class="fas fa-dumbbell mb-1"></span>
        <h2 class="mb-1">Protein</h2>
        <p class="lead">At Fit For Life we believe hitting your Protein target shouldn't be a chore, that's why we have created a selection of tastu flavours - drink them as a shake or add them to yougurt or porridge to hit your goals!</p>
      </div>
      <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
        <span class="fas fa-capsules mb-1"></span>
        <h2 class="mb-1">Supplements</h2>
        <p class="lead">Our supplements at Fit For Life are of the highest quality and go through the strictest of quality tests. They make it easy to ensure that you are adding daily nutrients and vitamins to your diet to hit your goals.</p>
      </div>
      <div class="clearfix visible-md-block visible-sm-block"></div>
      <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
        <span class="fa fa-file mb-1"></span>
        <h2 class="mb-1">Plans</h2>
        <p class="lead">Our plans at Fit For Life were designed by fitness experts who have combined exercises that work together to get your heart racing while also focusing on building muscle groups to become stronger while losing fat. Sign up to sweat! </p>
      </div>
    </div>
  </div>
</section>
 <!-- Link to Shop/Products Section -->
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <h1>Let's Shop!   <i class="fas fa-shopping-bag"></i></h1>
            </div>
            <div class="col-6 center mt-3">
                <a type="button" class="btn btn-block btn-product mt-2" href="{% url 'products' %}">Shop All Products</a>
            </div>
            <div class="col-12">
            <img class="responsive" src="{{ MEDIA_URL }}shopping.jpg">
            </div>
        </div>
    </div>
</section>
{% endblock %}