{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Fitter, healthier, happier.
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Learn More</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12">
                <h1>FIT FOR LIFE</h1>
                <p>Fit For Life is a brand which encompasses ...........
                Our revolutionary range has been developed by experts in nutrition and performance to fuel our customers before, during and after exercise. Our products include energetic Pre-Workouts, Whey and Vegan Protein blends, BCAA’s and Vitamins, essential for everyday health and well being.</p>
            </div>
        </div>
    </div>        
{% endblock %}