{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div> 
{% endblock %}
{% block content %}
 <!--Header Displaying PlanWorkout Name-->
<div class="container-fluid mb-2">
   <div>
      <h1 class="planworkouts-header-text">Plan Workout ID: {{ planworkout.id }}</h1>
      <h2 class="planworkouts-header-text">Workout: {{ planworkout.workout_id }}</h2>
      <h2 class="planworkouts-header-text">Plan: {{ planworkout.plan_id }}</h2>
      <h2 class="planworkouts-header-text">Repitions: {{ planworkout.repititions }}</h2>
   </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'planworkouts/includes/quantity_input_script.html' %}
{% endblock %}