/*!
 * base.css for fit for life
 */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue'
}
td a {
    color: black;
}
a {
    color: white;
}

a:hover {
    color: white;
}

.responsive {
  width: 100%;
  height: auto;
}

body {
    color: #555;
    font-family: 'Roboto';
    height: 100%;
}


.landing-text {
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     color: #fff;
     font-weight: 300;
}

.plan-backg {
    background-color: 	rgb(255,140,0, 0.75);
}

.profile-bg {
   background-color: 	rgba(175, 164, 151, 0.75); 
}

 .bg-img {
     background: url('/media/homepageimage.jpg') no-repeat center center fixed;
     display: table;
     height: 100%;
     position: relative;
     width: 100%;
     background-size: cover;
}

.card-deck {
  display:flex;
  flex-wrap: wrap;
}

.plan-card {
     height:90vh;
}

.plans {
    background: #232323;
    display: table;
     height: 30%;
     position: relative;
     width: 100%;
     background-size: cover;
 }

.plans-bg {
    background: #232323;
    height: 100px;
}

.profile-pic {
   background: url('/media/profilesquare.jpg') no-repeat center center fixed;
}
 .plans-header-text{
     color: #ff914d;
     font-size: 100px!important;
 }

 .details {
     color: #ff914d;
     background: #232323;
     margin-left: 10px;
     border-radius: 5px;
 }

 .details:hover {
     opacity: 1;	
	border: 4px solid #ff914d;
 }


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  width: 100%;/*whatever size you want your container*/
}

.col-12{
    justify-content: center;
}

/* About Page */
.section-about {
	padding-top: 110px;
	padding-bottom: 120px;
	font-family: "Poppins", sans-serif;
	background-color: #232323;
	color: #fff;
}

.section-about .header-section {
	margin-bottom: 35px;
}

.section-about .header-section .title {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 25px;
	text-transform: uppercase;
	font-weight: 700;
}

.section-about .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	height: 1px;
	background-color: #ff914d;
}

.section-about .header-section .title:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
	width: 45px;
	height: 3px;
	background-color: #ff914d;
}

.section-about .header-section .title span {
	color: #ff914d;
}

.section-about .header-section .description {
	color: #6f6f71;
}

.section-about .single-service {
	margin-top: 40px;
	background-color: #74757a;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.section-about .single-service .part-1 {
	padding: 40px 40px 25px;
	border-bottom: 2px solid #1d1e23;
}

.section-about .single-service .part-1 i {
	margin-bottom: 25px;
	font-size: 50px;
	color: #ff914d;
}

.section-about .single-service .part-1 .title {
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.8em;
}

.section-about .single-service .part-2 {
	padding: 30px 40px 40px;
}

.section-about .single-service .part-2 .description {
	margin-bottom: 22px;
	color: #6f6f71;
	font-size: 14px;
	line-height: 1.8em;
}

.section-about .single-service .part-2 a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.section-about .single-service .part-2 a i {
	margin-right: 10px;
	color: #ff914d;
}

/* Contact Form */
.container form {
  background-color: white;
  color: #888888;
  text-align: left;
  padding-top: 20px;
}

.container input,
.container textarea {
  /* to create space for placing icon*/
  padding-left: 32px;
  border-color: transparent;
  background-color: #ff914d;
  border-radius: 0px;
}

.btn-product:hover {
    background-color: #ff914d;
}

.container .btn-default {
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 15px 36px;
  background-color: #ff914d;
  border-radius: 0px;
  border: 0px;
  color: #F1F1F1;
}

.container .btn-default:hover,
.container .btn-default:focus {
  background-color: #232323;
  color: #F1F1F1;
  border-color: transparent;
  outline: 0px auto -webkit-focus-ring-color;
}

/*position should be relative and z-index greater than one*/
.container .icon {
  position: relative;
  float: left;
  margin-left: 8px;
  margin-top: -24px;
  z-index: 2;
  color: #222222;
}

.container .icon-textarea {
  float: left;
  margin-left: 8px;
  margin-top: -104px;
  position: relative;
  z-index: 2;
  color: #222222;
}

/* About Us */
.about{
	cursor: pointer;
	background-color: #ff914d;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 30px;
}
.about h1 {
	padding: 10px 0;
	margin-bottom: 20px;
}
.about h2 {
	opacity: .8;
}
.about span {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin:auto;
	border-radius:50%;  
	font-size: 40px;
	color: #FFFFFF;
	opacity: 0.7;
	background-color: #737373;
	border: 2px solid #737373;

	webkit-transition:all .5s ease;
 	moz-transition:all .5s ease;
 	os-transition:all .5s ease;
 	transition:all .5s ease;

}
.about-item:hover span{
	opacity: 1;	
	border: 2px solid #000000;
	font-size: 42px;
	-webkit-transform: scale(1.1,1.1) rotate(360deg) ;
	-moz-transform: scale(1.1,1.1) rotate(360deg) ;
	-o-transform: scale(1.1,1.1) rotate(360deg) ;
	transform: scale(1.1,1.1) rotate(360deg) ;
}
.about-item:hover h2{
	opacity: 1;
	-webkit-transform: scale(1.1,1.1)  ;
	-moz-transform: scale(1.1,1.1)  ;
	-o-transform: scale(1.1,1.1)  ;
	transform: scale(1.1,1.1) ;
}
.about .lead{
	color: rgb(53, 48, 50);
	font-size: 14px;
	font-weight: bold;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.plan-border {
    border: 2px solid black;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Place new cards for evaluation here */

.card:hover {
     box-shadow: 0 20px 20px rgba(0, 0, 0, 0.493), 0 6px 6px rgba(0, 0, 0, 0.493);
}

/* https://codepen.io/mhrkit/pen/GGqdvr */
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  

  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
  }
  
  .card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  .made_by{
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
  }
/* Card - fitness plans */

/* End of cards for evaluation */


/* .card {
    background-color: #FF7300;
    color: #676767;
    box-shadow:  1px 1px 2px 3px #CCC;
} */

.btn {
    background-color: #676767;
}

.price-text {
    font-size: 20px;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

/* ---- Meet The Team Section ---- */
 .team-members {
     padding-top: 5%;
}
 .team-member {
     background-color: #232323;
     margin-bottom: 10px;
}
 .team-member:hover .social {
     cursor: pointer;
     opacity: 1;
     transform: rotateY(0deg) scale(1,1);
}
 .img-area {
     overflow: hidden;
     position: relative;
}
 .img-area img {
     width: 100%;
}
 .img-area:hover img {
     transform: scale(1.2);
}
 .img-area img {
     transition: all 0.4s ease 0s;
}
 @media (max-width:768px){
     .img-area img {
         display: inline-block;
    }
}
 .img-area .social {
     background-color: rgba(0,0,0,0.7);
     position: absolute;
     text-align: center;
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     opacity: 0;
     transition: .5s;
     transform: rotateY(180deg) scale(0.5,0.5);
}
 .img-area .social ul {
     text-align: center;
     position: relative;
     top: 20px;
}
 .img-area .social ul li a {
     border: 1px solid #fff;
     color: #fff;
     display: block;
     font-size: 20px;
     height: 40px;
     width: 40px;
     line-height: 40px;
     text-align: center;
}
 .img-area .social ul li a:hover {
     background-color: #fff;
     color: #000;
     border: 1px solid transparent;
}
 .img-text {
     padding: 25px;
     color: #fff;
     text-align: center;
}
 .img-text h4 {
     margin: 0 0 5px;
     font-size: 25px;
     letter-spacing: 5px;
}
 .img-text h5 {
     margin: 0 0 5px;
     font-size: 12px;
     font-weight: bold;
     text-transform: uppercase;
}
 .team-members h1 {
     text-align: center;
}

/*profile */
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.workout-icon img {
    width: 25%;
    border: 1px solid
  }

.logo{
    width: 20%;
  }

.profile-userpic img {
  float: none;
  display:block;
    margin:auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

/* footer */
.social-links {
    font-size: 1.2rem;
    background-color: #232323;
    width: 100%;
    color: #fafafa;
    padding-top: 0.2rem;
    text-align: center;
}

.social-links a {
    color: #fafafa;
    margin: 0 1rem 1rem 1rem;
    transition: 0.5s;
}

.social-links a:hover {
    color: #ff914d;;
    text-decoration: none;
}

.footer-copyright {
    background-color: #ff914d;;
}