{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
</div>
{% endblock %}
{% block content %}
<!--Text section describing what FFL do-->
<section class="section-about">
   <div class="container">
      <div class="row justify-content-center text-center">
         <div class="col-12">
            <div class="header-section">
               <h2 class="title">About <span>Fit For Life</span></h2>
               <p class="description">Fit For Life is not just a brand, it is a lifestyle. At FFL we believe that a healthy lifestyle is key to a happy life.
                  We want to make the journey as easy as possible by helping our customers to reach their goals with our products and plans.It's time to get to know who we are, what we do and why we do it!
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row justify-content-center">
         <!-- Who we are section -->
         <div class="col-md-6 col-lg-4">
            <div class="single-service">
               <div class="part-1">
                  <i class="fas fa-user-circle center"></i>
                  <h3> WHO</h3>
                  <p>Fit For Life founder Orla was unsatisfied working in a 9-5 office job when she decided to pursue her passion and follow her dream of becoming a personal trainer.
                  </p>
               </div>
            </div>
         </div>
         <!-- / End of who we are section -->
         <!-- Start of Why we are a business -->
         <div class="col-md-6 col-lg-4">
            <div class="single-service">
               <div class="part-1">
                  <i class="far fa-question-circle"></i>
                  <h2>WHY</h2>
                  <p>While studying the course she gained a keen interest in nutrition and the benefits of a high protein diet. She thought there was a gap in the market for high protein snacks.</p>
               </div>
            </div>
         </div>
         <!-- / End of why we are a business -->
         <!-- Start of how we are a business-->
         <div class="col-md-6 col-lg-4">
            <div class="single-service">
               <div class="part-1">
                  <i class="far fa-handshake"></i>
                  <h2>HOW</h2>
                  <p>Orla worked with a range of qualified professionals to create bars, drinks and supplements that not only taste great but provide a high source of protein and nutrients.</p>
               </div>
            </div>
         </div>
         <!-- / End of how we are a business -->
      </div>
   </div>
</section>
<!--Form, get in touch section-->
<div class="container-fluid">
   <div class="contact-section">
      <div class="row">
         <div class="col-12 text-center">
            <h1 class="title">get in touch</h1>
         </div>
      </div>
   </div>
   <div class="container" id="id_contact_form_container">
      <div>
         {% if form.errors %}
         <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
         </p>
         {% endif %}
      </div>
      <div class="col-12 justify-content-center">
         <form id="form" method="post">
            {% csrf_token %}
            <div class="form-group">
               <label for="name"></label>
               {{ form.name.errors }}
               <input type="text" class="form-control" id="name" name="name" pattern=".{3,}" title="Please type three or more characters" placeholder="Full Name" required>
               <!--placing icon using a span element-->

               <span class="icon fa fa-user fa-lg"></span>
            </div>
            <div class="form-group">
               <label for="email"></label>
               {{ form.email.errors }}
               <input type="email" class="form-control" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email Address" required>
               <span class="icon fa fa-envelope fa-lg"></span>
            </div>
            <div class="form-group">
               <label for="subject"></label>
               {{ form.subject.errors }}
               <input type="text" class="form-control" id="subject" name="subject" pattern=".{8,}" title="Please type eight or more characters" placeholder="Subject" required>
               <span class="icon fa fa-pencil fa-lg"></span>
            </div>
            <div class="form-group">
               <label for="message"></label>
               {{ form.message.errors }}
               <textarea class="form-control" rows="5" cols="30"  name="message" id="message" placeholder="Type up to ten charachters for your message" pattern=".{10,}" title="10 or more characters" style="width:100%"></textarea>
               <span class="icon-textarea fa fa-paper-plane fa-lg "></span>
               <span class="textAreaErrorMessage" id="text_error">Enter up to 10 charachters.</span>
            </div>
            <div class="col-sm-12 text-center">
               <button type="submit" id="id_submit_button" class="btn btn-default">Submit</button>
            </div>
         </form>
      </div>
   </div>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
   $('.btt-link').click(function(e) {
   	window.scrollTo(0,0)
   })
</script>
<script type="text/javascript">

const submit_button = document.getElementById('id_submit_button');
const message_box = document.getElementById('message');
const text_area_error = document.getElementById('text_error');
submit_button.disabled=true;
text_area_error.visible=false;

jQuery('#message').on('keyup', function() {
      if(validateTextarea(message_box) === true)
         submit_button.disabled=false;
      else
         submit_button.disabled=true;
});


function setErrorString(value) {

   span = document.getElementById("text_error");
   txt = document.createTextNode(value);
   span.innerHTML="";
   span.appendChild(txt);
}

function validateTextarea(textbox) {
        var errorMsg = "Please match the format requested.";

        if(textbox.value === "")
        {
            setErrorString("Message cannot be blank.");
            return false;
        }
        if(textbox.value.length < 10)
        {
            setErrorString("Type at least 10 charachters.");
            return false;
        }
        if(textbox.value.length > 10)
        {
            setErrorString(" ");
            return true;
        }
      return true;
    }

</script>
{% endblock %}