{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div> 
{% endblock %}
{% block content %}
 <!--Header Displaying Plan Name-->
<div class="container-fluid mb-2">
   <div>
      <h1 class="plans-header-text">{{ plan.plan_name }}</h1>
   </div>
</div>
 <!-- Container displaying Workout Cards-->
<div class="container mt-2 mb-2 plans">
    {% if plan.workouts_list %}  
                <div class="row">
                    {% for workout in plan.workouts_list %}

                    <!-- Work Out Card-->
                    <div class="col-lg-3 col-md-6 mb-3">
                        <div class="card plan-card">
                            {% if workout.image %}
                                <a href="{{ workout.image.url }}" target="_blank">
                                    <img class="workout-icon center" src="{{ workout.image.url }}" alt="{{ plan.plan_name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="workout-icon center" src="{{ MEDIA_URL }}noimage.png" alt="{{ plan.plan_name }}">
                                </a>
                            {% endif %}
                                    <h4 class="card-title text-center">{{ workout.workout_name }}</h4>
                                        <small class="pl-1">{{ workout.description }}</small>
                                        <br>
                                        {% for detail in workout.details_list %}
                                            <i class="far fa-check-circle pl-2">{{ detail }}</i>
                                            <br>
                                        {% endfor %}
                        </div>  
                    </div>
                    {% endfor %}
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_plan' plan.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_plan' plan.id %}">Delete</a>
                    </small>
                    {% endif %}
                </div>
    {% else %}
     <!--Text to display if no workout cards -->
    <small class="text-muted">No Workouts</small>
    {% endif %}
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'plans/includes/quantity_input_script.html' %}
{% endblock %}