{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
<div class="row">
   <div class="col text-center mt-3">
      <h2 class="logo-font">Products</h2>
      {% for c in current_categories %}
      <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
      <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
      </a>
      {% endfor %}
      <hr class="w-50 mb-1">
   </div>
</div>
<div class="row">
   <div class="product-container col-10 offset-1">
      <div class="row mt-1 mb-2">
         <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
               {% if search_term or current_categories or current_sorting != 'None_None' %}
               <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
               {% endif %}
               {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
         </div>
      </div>
      <!-- This is the start of the main cards display -->
      <div class="row justify-content-center">
         {% for product in products %}
         {% ifequal product.category|stringformat:'s' 'plans'|stringformat:'s' %}
         <div class="col-lg-6 col-md-6 mb-3">
            {% else %}
            <div class="col-lg-3 col-md-6 mb-3">
               {% endifequal %}
               <!-- 12 colums in total, on a small or medium screen 6 columns ( a card) will take up 1/2 the screen
                  12 colums in total, on a large screen it will take 4 columns ( a card) or 1/3 the screen -->
               <div class="card-deck">
                  <div class="card">
                     {% if product.image %}
                     <div class="product-image">
                        <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                     </div>
                     {% else %}
                     <div class="product-image">
                        <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                     </div>
                     {% endif %}
                     <!--Card content-->
                     <div class="card-body">
                        <!--Title-->
                        <h6 class="card-title font-weight-bold mb-2">{{ product.product_name }}</h6>
                        <!--  <p class="card-text">{{ product.snippet }}</p>-->
                        <div class="text-left">
                           <p class="card-text">€{{ product.price }}</p>
                        </div>
                        <div class="text-right">
                           <a type="button" class="btn btn-block btn-product" href="{% url 'product_detail' product.id %}" href="{% url 'product_detail' product.id %}" style="color:white">See More</a>
                           <i class="lnr lnr-chevron-right pl-2"></i>
                        </div>
                     </div>
                  </div>
                  <!--/.Card-->
               </div>
            </div>
            {% endfor %}
            <!-- This is the end of the main cards display -->
         </div>
      </div>
   </div>
</div>
<div class="page-links">
   {% if products.has_previous %}
   <div class="col-sm-6 col-md-3 center">
      <a type="button" class="btn btn-block btn-product" href="{% url 'products' %}?page={{ products.previous_page_number }}" class="pag-btn">Previous Page</a>
   </div>
   {% endif %}
   {% if products.has_next %}
   <div class="col-sm-6 col-md-3 center">
      <a type="button" class="btn btn-block btn-product mt-2" href="{% url 'products' %}?page={{ products.next_page_number }}">Next Page</a>
   </div>
   {% endif %}
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
   <a class="btt-link d-flex h-100">
   <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
   </a>	
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
   $('.btt-link').click(function(e) {
   	window.scrollTo(0,0)
   })
</script>
{% endblock %}